.playlist {
    width: 37%;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
}



.playlist .form {
    all: unset;
    font-size: 2.4rem;
    font-family: 'Kumbh Sans', sans-serif;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 600;
    line-height: 1.2;
    color: #393E33;
    border: solid 0.1rem rgba(124, 113, 67, 1); 
    border-radius: 8px;
    width: 80%;
    padding: 1rem;
}

#save {
    background-color: #7B3227;
    color: white;
    border-color: #7B3227;
    align-self: center;
    height: 4rem;
    width: 13rem;
    font-size: 1.4rem;
    font-weight: 500;
    font-family: 'Kumbh Sans', sans-serif;
}

#save:hover {
    background-color: rgba(124, 113, 67, 1);
    color: white;
    border:rgba(124, 113, 67, 1);
}

@media only screen and (max-width:800px) {

    .playlist {
        align-self: center;
        width: 80%;
    }

    .playlist .form {
        font-size: 2rem;
    }
}